name: Deploy to GCP Cloud Function

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - id: 'auth'
      uses: 'google-github-actions/auth@v2'
      with:
        credentials_json: '${{ secrets.GCP_SA_KEY }}'
        
    - name: 'Get GCP project ID'
      id: 'get-project'
      run: |
        echo "project_id=$(jq -r '.project_id' <<< '${{ secrets.GCP_SA_KEY }}')" >> $GITHUB_OUTPUT

    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v2'
      with:
        project_id: ${{ steps.get-project.outputs.project_id }}

    - name: 'Use gcloud CLI'
      run: 'gcloud info'

    - name: Deploy to Cloud Function
      run: |
        gcloud functions deploy main \
          --runtime=python312 \
          --trigger-http \
          --allow-unauthenticated \
          --entry-point=main \
          --region=europe-west4